:root {
    --cor-de-fundo: #180f4e;
}

body {
    background-color: var(--cor-de-fundo);
    color: rgb(13, 35, 161);
}

.titulo {
    font-size: 50px;
    text-align: center;
}

.img {
    text-align: center;
}

.foto {
    width: 20%;
    border-radius: 20px;
}

.sobre {
    text-align: center;
    }

.titulo-curiosidades {
    font-size: 60px;
    text-align: center;
    color: #9e0000;
}

.curiosidades {
    font-size: 20px;
    margin: 100px;
    color: #9e0909;
}

.item-dois {
    color: #d11e1e;
}

.item-tres {
    color: #ce3d04;
}

.item-quatro {
    color: #d45522;
}

.instagram {
    font-size: 20px;
    text-decoration: none;
    color: rgb(231, 91, 26);
}

.instagram:hover {
    color:#8a00e6;
}

.instagram-icone {
    width: 30px;
    margin-left: 900px;
}
